<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('../../Content/Images/Salon.jpg');
            background-size:cover;
            background:no-repeat;
        }
        .dropbtn{
            background-color:green;
            color:white;
            padding:16px;
            font-size:16px;
            border:none;
            cursor:pointer;
        }
        .dropdown{
            position:relative;
            display:inline-block;
        }
        .dropdown-content{
            display:none;
            position:absolute;
            background-color:yellow;
            min-width:160px;
            box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index:1;
        }
        .dropdown-content a{
            color:black;
            padding:12px 16px;
            text-decoration:none;
            display:block;
        }
        .dropdown-content a:hover{
            background-color:red;
        }
       .dropdown:hover .dropdown-content{
           display:block;
       } 
       .dropdown:hover .dropbtn{
           background-color:black;
       }
       .panel-footer{
           background:none repeat scroll 0 0 #20415f;
           color:white;
       }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BarberShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style="color:#FFFFFF;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Home<span class="caret"></span></button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("Index","Home")">Home</a>
                                    <a href="@Url.Action("Contact","Contacts")">Contact</a>
                                    <a href="@Url.Action("About","About")">Home</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Administrator<span class="caret"></span></button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("AddRole","Roles")">Add Role</a>
                                    <a href="@Url.Action("EditRole","Roles")">Edit Role</a>
                                    <a href="@Url.Action("RolesIndex","Roles")">List Roles</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Appointments<span class="caret"></span></button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("ListOfBookings","Bookings")">Bookings</a>
                                    <a href="@Url.Action("ListOfConfirmedBookings","Bookings")">Confirmed Bookings</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Time & Hair Cut<span class="caret"></span></button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("Create","BookingTimes")">TimeSlots</a>
                                    <a href="@Url.Action("Create","Styles")">Add Hair Cuts</a>
                                </div>
                            </div>
                        </li>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        if (ViewBag.c == "Confirmed")
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Home<span class="caret"></span></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                        <a href="@Url.Action("Contact","Home")">Contact</a>
                                        <a href="@Url.Action("About","Home")">About</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Appointment<span class="caret"></span></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ViewStatus","Bookings")">Home</a>
                                        @*<a href="@Url.Action("Contact","Home")">Contact</a>
                            <a href="@Url.Action("About","Home")">About</a>*@
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Home<span class="caret"></span></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                        <a href="@Url.Action("Contact","Home")">Contact</a>
                                        <a href="@Url.Action("About","Home")">About</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Make Appointment<span class="caret"></span></button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Create","Bookings")">Book</a>
                                        @*<a href="@Url.Action("Contact","Home")">Contact</a>
                                        <a href="@Url.Action("About","Home")">About</a>*@
                                    </div>
                                </div>
                            </li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
